@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:rgb(216, 175, 216);
}
.dice{
    display: inline-block;
    text-align: center;
    margin-left: 20px;
}
.dice img{
    width: 300px;
    height: 300px;
}
.heading{
    text-align: center;
    font-size: 3rem;
    padding: 5px;
    color: hotpink;
}
.btn{
    display: block;
    margin: 40px auto;
    padding: 3px 20px;
    background-color: red;
    outline: none;
    color: white;
} 
.box{
    height: 550px;
    width: 870px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    border: 2px solid white;
}
h1{
    text-align: center;
    font-size: 2.5rem;
    color: green;
    margin-top: 10px;
}
.quotes{
    display: flex;
    flex-direction: column;
    height: 400px;
    position: relative;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: rgb(240, 206, 212);
}
.quotes img{
    width: 50px;
    height: 50px;
    text-align: left;
}
.para{
    font-size: 26px;
    font-weight: bolder;
    color: black;
    padding: 6px;
    font-family: 'Roboto', sans-serif;
}